{
  "extends": "phaistos-networks",
  "rules": {
    "func-names": 0,
    "one-var": 0,
    "quote-props": 0,
    "max-len": 0,
    "camelcase": 0,
    "one-var-declaration-per-line": 0,
    "no-unused-expressions": 0,
    "prefer-template": 0,
    "max-classes-per-file": 1,
    "max-lines-per-function": 1,
    "no-debugger": 0
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "globals": {
    "Adman": true,
    "bitmovin": true,
    "PhaistosPlayer": true,
    "ga": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "env": {
    "jest": true
  }
}
