// add your stylus rules here

#app-container {
    padding: 5px;
}

.example {
    margin: 1rem;
}

.example-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}