.progressBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar {
  position: relative;
  height: 15px;
  width: 85px;
  border-radius: 20px;
  border: 1px solid #333;
}

.filler {
  background: black; /* default background color*/
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
